.card_y_wrapper
{
    margin: 70px 0;
}

.reward_y_img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.reward_y_title_place {
    width: fit-content;
    margin: 30px 0;
}

.reward_y_title {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.reward_y_desc_place {
    width: fit-content;
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    /* .reward_y_img_place {
        width: 400px;
    } */
}