.footer_wrapper {
    flex-shrink: 0;
}

.foot_superior li {
    list-style: none;
}

.footer_lists_wrapper {
    display: flex;
    justify-content: space-around;
}

.footer_lists_wrapper li {
    cursor: pointer;
}

.foot_icons {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}

.foot_icons_left {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foot_google_icn {
    width: 150px;
    cursor: pointer;
}

.foot_apple_icn {
    width: 150px;
    height: 134px;
    cursor: pointer;
}

.foot_icn {
    margin: 0 10px;
}

.foot_bottom {
    text-align: center;
}

.foot_btm_top {
    padding: 50px 0 10px 0;
}

.foot_btm_txt {
    text-decoration: none;
    color: black;
    margin: 0 19px;
    white-space: nowrap;
}

@media (max-width: 1000px) {
    .foot_btm_txt {
        white-space: unset;
        margin: 0 5px;
    }

    .foot_icons {
        display: block;
    }

    .foot_icons_right {
        text-align: center;
    }
}