@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
    font-family: Speedee, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

.row
{
    margin: 0;
}

ul {
    padding-left: 0;
}

.links {
    color: #006bae;
}

.modal_add_place
{
    text-align: center;
}

.modal_img_place
{
    text-align: center;
    margin: 10px 0;
}

.modal_img
{
    width: 300px;
}

.modal_about_place
{
    text-align: center;
}

.modal_add_btn
{
    border: none;
    border-radius: 5px;
    padding: 10px 100px;
    background-color: #ffbc0d;
    font: inherit;
    font-weight: 500;
}

.modal_add_btn:hover
{
    background-color: #ffc635;
}

.custom_container {
    padding: 50px 120px;
}